.movie-info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.movie-info img {
  border-radius: 20px;
}

.movie-info button {
  margin-top: 15px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  outline: none;
  padding: 12px;
  transition: all 0.5s;
}

.movie-info button:hover {
  background-color: brown;
  color: #fff;
}

.movie-info a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

.movie-info a:hover {
  color: #fff;
}
